In [4]:
import pandas as pd
import os
print(os.getcwd())

C:\Users\fahed\PycharmProjects\HospitalDashboard\src

In [6]:
data= pd.read_csv(r'C:\Users\fahed\PycharmProjects\HospitalDashboard\data\Hospital.csv')

In [42]:
print(data.describe())

       OrganisationID     Latitude    Longitude
count    1.211000e+03  1209.000000  1209.000000
mean     1.375611e+06    52.317509    -1.293855
std      3.024986e+06     1.213026     1.294781
min      1.797000e+04    49.913063    -6.309277
25%      4.064900e+04    51.410404    -2.154729
50%      4.311000e+04    52.038059    -1.369305
75%      7.610700e+04    53.378357    -0.217204
max      1.095615e+07    55.773289     1.730521

In [43]:
print(data.shape)

(1211, 22)

In [44]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1211 entries, 0 to 1210
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrganisationID      1211 non-null   int64
 1   OrganisationCode    1211 non-null   object
 2   OrganisationType    1211 non-null   object
 3   SubType             1211 non-null   object
 4   Sector              1211 non-null   object
 5   OrganisationStatus  1211 non-null   object
 6   IsPimsManaged       1211 non-null   bool
 7   OrganisationName    1211 non-null   object
 8   Address1            883 non-null    object
 9   Address2            727 non-null    object
 10  Address3            147 non-null    object
 11  City                1196 non-null   object
 12  County              973 non-null    object
 13  Postcode            1210 non-null   object
 14  Latitude            1209 non-null   float64
 15  Longitude           1209 non-null   float64
 16  ParentODSCode       1211 non-null   object
 17  ParentName          1211 non-null   object
 18  Phone               961 non-null    object
 19  Email               422 non-null    object
 20  Website             853 non-null    object
 21  Fax,,,              1209 non-null   object
dtypes: bool(1), float64(2), int64(1), object(18)
memory usage: 209.3+ KB

In [55]:
df= data[['OrganisationID', 'Latitude', 'Longitude', 'City', 'County', 'Postcode', 'ParentName'] ]
df.head()

,OrganisationID,Latitude,Longitude,City,County,Postcode,ParentName
0,17970,51.379997,-0.406042,Walton-on-Thames,Surrey,KT12 3LD,Virgin Care Services Ltd
1,17981,51.315132,-0.556289,Woking,Surrey,GU22 7HS,Virgin Care Services Ltd
2,18102,51.437195,-2.847193,Clevedon,Avon,BS21 6BS,North Somerset Community Partnership Community...
3,18138,53.459743,-2.245469,Manchester,Greater Manchester,M15 5AT,Bridgewater Hospital (Manchester) Ltd
4,18142,52.078121,-0.030604,Royston,NaN,SG8 5JP,Partnerships In Care Ltd

Look at the nulls

In [56]:
df.info(verbose= True)

<class 'pandas.core.frame.DataFrame'>
Index: 1211 entries, 0 to 1210
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OrganisationID  1211 non-null   int64
 1   Latitude        1211 non-null   float64
 2   Longitude       1211 non-null   float64
 3   City            1196 non-null   object
 4   County          973 non-null    object
 5   Postcode        1210 non-null   object
 6   ParentName      1211 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 75.7+ KB

In [60]:
data[data['County'].isnull() ].head()

,OrganisationID,OrganisationCode,OrganisationType,SubType,Sector,OrganisationStatus,IsPimsManaged,OrganisationName,Address1,Address2,...,County,Postcode,Latitude,Longitude,ParentODSCode,ParentName,Phone,Email,Website,"Fax,,,"
4,18142,NMV01,Hospital,Hospital,Independent Sector,Visible,True,Kneesworth House,Old North Road,Bassingbourn,...,NaN,SG8 5JP,52.078121,-0.030604,NMV,Partnerships In Care Ltd,01763 255 700,reception_kneesworthhouse@partnershipsincare.c...,www.partnershipsincare.co.uk,",,,"
11,18317,NR527,Hospital,Hospital,Independent Sector,Visible,True,Mount Gould Hospital,NaN,Mount Gould Road,...,NaN,PL4 7QD,50.378403,-4.112741,NR5,Livewell Southwest,01752 268011,NaN,https://www.livewellsouthwest.co.uk/,",,,"
14,18353,NT205,Hospital,Hospital,Independent Sector,Visible,True,"Nuffield Health, Brighton Hospital",NaN,Warren Road,...,NaN,BN2 6DX,50.834518,-0.081911,NT2,Nuffield Health,0800 015 5020,nuffieldhealth.ereferrals@nhs.net,http://www.nuffieldhealth.com/brightonhospital,",,"
19,18359,NT212,Hospital,Hospital,Independent Sector,Visible,True,"Nuffield Health, Chichester Hospital",NaN,78 Broyle Road,...,NaN,PO19 6WB,50.847980,-0.780013,NT2,Nuffield Health,0800 015 5020,nuffieldhealth.ereferrals@nhs.net,http://www.nuffieldhealth.com/chichesterhospital,",,"
24,18365,NT218,Hospital,Hospital,Independent Sector,Visible,True,"Nuffield Health, Haywards Heath Hospital",NaN,Burrell Road,...,NaN,RH16 1UD,51.008404,-0.106121,NT2,Nuffield Health,0800 015 5020,nuffieldhealth.ereferrals@nhs.net,http://www.nuffieldhealth.com/haywards-heathho...,",,"

In [47]:
data.loc[data['OrganisationID'] == 9970086, 'Latitude'] = 51.255273
data.loc[data['OrganisationID'] == 9970086, 'Longitude'] = 0.641930
data.loc[data['OrganisationID'] == 10617567, 'Latitude'] = 49.18804
data.loc[data['OrganisationID'] == 10617567, 'Longitude'] = -2.10491

In [70]:
print(list(data.columns))

['OrganisationID', 'OrganisationCode', 'OrganisationType', 'SubType', 'Sector', 'OrganisationStatus', 'IsPimsManaged', 'OrganisationName', 'Address1', 'Address2', 'Address3', 'City', 'County', 'Postcode', 'Latitude', 'Longitude', 'ParentODSCode', 'ParentName', 'Phone', 'Email', 'Website', 'Fax,,,']

## lets filter for only column swe'll need

In [77]:
data_cleaned= data[['OrganisationID','OrganisationName', 'Latitude', 'Longitude', 'City', 'County', 'Postcode','Address1', 'ParentName','OrganisationType','Sector']]

In [78]:
data_cleaned.head()

,OrganisationID,OrganisationName,Latitude,Longitude,City,County,Postcode,Address1,ParentName,OrganisationType,Sector
0,17970,Walton Community Hospital - Virgin Care Servic...,51.379997,-0.406042,Walton-on-Thames,Surrey,KT12 3LD,NaN,Virgin Care Services Ltd,Hospital,Independent Sector
1,17981,Woking Community Hospital (Virgin Care),51.315132,-0.556289,Woking,Surrey,GU22 7HS,NaN,Virgin Care Services Ltd,Hospital,Independent Sector
2,18102,North Somerset Community Hospital,51.437195,-2.847193,Clevedon,Avon,BS21 6BS,North Somerset Community Hospital,North Somerset Community Partnership Community...,Hospital,NHS Sector
3,18138,Bridgewater Hospital,53.459743,-2.245469,Manchester,Greater Manchester,M15 5AT,120 Princess Road,Bridgewater Hospital (Manchester) Ltd,Hospital,Independent Sector
4,18142,Kneesworth House,52.078121,-0.030604,Royston,NaN,SG8 5JP,Old North Road,Partnerships In Care Ltd,Hospital,Independent Sector

In [87]:
import os
print(os.getcwd())#data_cleaned.to_csv(, index=False)

C:\Users\fahed\PycharmProjects\HospitalDashboard

In [97]:
data_cleaned.to_csv('data_cleaned_2')