In [1]:
import streamlit as st
import pandas as pd
import pydeck as pdk
import os

st.title("ðŸ¥ England Hospitals Dashboard")
st.markdown("## Map")
#load data
main_dir= os.path.dirname(os.path.realpath(__file__))
df_path= os.path.join(main_dir, '../data/Hospital_Cleaned.csv')

2025-11-20 15:39:57.031 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-20 15:39:57.812
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\fahed\AppData\Local\Programs\Python\Python313\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2025-11-20 15:39:57.814 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-20 15:39:57.814 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-20 15:39:57.815 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-20 15:39:57.816 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-20 15:39:57.817 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

NameError: name '__file__' is not defined

In [40]:
data= pd.read_csv(r'C:\Users\fahed\PycharmProjects\HospitalDashboard\data\Hospital.csv')

region_data= pd.read_csv(r'C:\Users\fahed\PycharmProjects\HospitalDashboard\data\uk-counties-to-regions.csv')
regions_clean = region_data.drop_duplicates(subset="County")

In [3]:
print(data.describe())

       OrganisationID     Latitude    Longitude
count    1.211000e+03  1209.000000  1209.000000
mean     1.375611e+06    52.317509    -1.293855
std      3.024986e+06     1.213026     1.294781
min      1.797000e+04    49.913063    -6.309277
25%      4.064900e+04    51.410404    -2.154729
50%      4.311000e+04    52.038059    -1.369305
75%      7.610700e+04    53.378357    -0.217204
max      1.095615e+07    55.773289     1.730521

In [4]:
print(data.shape)

(1211, 22)

In [5]:
data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1211 entries, 0 to 1210
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrganisationID      1211 non-null   int64
 1   OrganisationCode    1211 non-null   object
 2   OrganisationType    1211 non-null   object
 3   SubType             1211 non-null   object
 4   Sector              1211 non-null   object
 5   OrganisationStatus  1211 non-null   object
 6   IsPimsManaged       1211 non-null   bool
 7   OrganisationName    1211 non-null   object
 8   Address1            883 non-null    object
 9   Address2            727 non-null    object
 10  Address3            147 non-null    object
 11  City                1196 non-null   object
 12  County              973 non-null    object
 13  Postcode            1210 non-null   object
 14  Latitude            1209 non-null   float64
 15  Longitude           1209 non-null   float64
 16  ParentODSCode       1211 non-null   object
 17  ParentName          1211 non-null   object
 18  Phone               961 non-null    object
 19  Email               422 non-null    object
 20  Website             853 non-null    object
 21  Fax,,,              1209 non-null   object
dtypes: bool(1), float64(2), int64(1), object(18)
memory usage: 209.3+ KB

In [14]:
data.loc[:, ['Address']]= data['Address1'].fillna('') + ' ' + data['Address2'].fillna('')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1211 entries, 0 to 1210
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OrganisationID      1211 non-null   int64
 1   OrganisationCode    1211 non-null   object
 2   OrganisationType    1211 non-null   object
 3   SubType             1211 non-null   object
 4   Sector              1211 non-null   object
 5   OrganisationStatus  1211 non-null   object
 6   IsPimsManaged       1211 non-null   bool
 7   OrganisationName    1211 non-null   object
 8   Address1            883 non-null    object
 9   Address2            727 non-null    object
 10  Address3            147 non-null    object
 11  City                1196 non-null   object
 12  County              1017 non-null   object
 13  Postcode            1210 non-null   object
 14  Latitude            1209 non-null   float64
 15  Longitude           1209 non-null   float64
 16  ParentODSCode       1211 non-null   object
 17  ParentName          1211 non-null   object
 18  Phone               961 non-null    object
 19  Email               422 non-null    object
 20  Website             853 non-null    object
 21  Fax,,,              1209 non-null   object
 22  Address             1211 non-null   object
dtypes: bool(1), float64(2), int64(1), object(19)
memory usage: 251.1+ KB

Look at the nulls

In [ ]:
df.info(verbose= True)

In [ ]:
print("TYPE(df):", type(data))
print("COLUMNS:", getattr(data, "columns", "NO COLUMNS"))
print("COUNTY TYPE:", type(data['County']))

In [ ]:
data.loc[data['OrganisationID'] == 9970086, 'Latitude'] = 51.255273
data.loc[data['OrganisationID'] == 9970086, 'Longitude'] = 0.641930
data.loc[data['OrganisationID'] == 10617567, 'Latitude'] = 49.18804
data.loc[data['OrganisationID'] == 10617567, 'Longitude'] = -2.10491

In [ ]:
print(list(data.columns))

## lets filter for only column swe'll need

In [ ]:
data_cleaned= data[['OrganisationID','OrganisationName', 'Latitude', 'Longitude', 'City', 'County', 'Postcode','Address1', 'ParentName','OrganisationType','Sector']]

In [ ]:
data_cleaned.head()

In [ ]:
## look at filling county and City/town

## fill county

In [ ]:
data_cleaned.info(
)

group_by_data

In [17]:
data_cleaned= pd.read_csv(r'C:\Users\fahed\PycharmProjects\HospitalDashboard\data\Hospital_Cleaned.csv')

In [18]:
data_cleaned.groupby(['Sector']).count()

,Unnamed: 0,OrganisationID,OrganisationName,Latitude,Longitude,City,County,Postcode,Address,ParentName,OrganisationType
Sector,,,,,,,,,,,
Independent Sector,468,468,468,468,468,464,434,468,468,468,468
NHS Sector,743,743,743,743,743,732,652,742,743,743,743

In [19]:
county_data= data_cleaned[[
    'County','Sector']]
county_data.head()

               County              Sector
0              Surrey  Independent Sector
1              Surrey  Independent Sector
2                Avon          NHS Sector
3  Greater Manchester  Independent Sector
4      Cambridgeshire  Independent Sector

In [22]:
county_agg= county_data.groupby(['County', 'Sector']).size().reset_index(name= 'Count')
county_agg

                           County              Sector  Count
0                            Avon  Independent Sector      3
1                            Avon          NHS Sector     15
2    Bath and North East Somerset  Independent Sector      2
3    Bath and North East Somerset          NHS Sector      1
4                    Bedfordshire  Independent Sector      3
..                            ...                 ...    ...
124                          York  Independent Sector      1
125                          York          NHS Sector      1
126                     Yorkshire          NHS Sector      2
127        Yorkshire(East Riding)  Independent Sector      1
128        Yorkshire(East Riding)          NHS Sector      6

[129 rows x 3 columns]

In [29]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211 entries, 0 to 1210
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1211 non-null   int64
 1   OrganisationID    1211 non-null   int64
 2   OrganisationName  1211 non-null   object
 3   Latitude          1211 non-null   float64
 4   Longitude         1211 non-null   float64
 5   City              1196 non-null   object
 6   County            1086 non-null   object
 7   Postcode          1210 non-null   object
 8   Address           1211 non-null   object
 9   ParentName        1211 non-null   object
 10  OrganisationType  1211 non-null   object
 11  Sector            1211 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 113.7+ KB

In [44]:
data_cleaned= data_cleaned.merge(regions_clean, how='left', on='County')

In [42]:
data_joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1211 entries, 0 to 1210
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1211 non-null   int64
 1   OrganisationID    1211 non-null   int64
 2   OrganisationName  1211 non-null   object
 3   Latitude          1211 non-null   float64
 4   Longitude         1211 non-null   float64
 5   City              1196 non-null   object
 6   County            1086 non-null   object
 7   Postcode          1210 non-null   object
 8   Address           1211 non-null   object
 9   ParentName        1211 non-null   object
 10  OrganisationType  1211 non-null   object
 11  Sector            1211 non-null   object
 12  Region            1012 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 123.1+ KB

In [45]:
data_cleaned.head()

,Unnamed: 0,OrganisationID,OrganisationName,Latitude,Longitude,City,County,Postcode,Address,ParentName,OrganisationType,Sector,Region
0,0,17970,Walton Community Hospital - Virgin Care Servic...,51.379997,-0.406042,Walton-on-Thames,Surrey,KT12 3LD,Rodney Road,Virgin Care Services Ltd,Hospital,Independent Sector,South East England
1,1,17981,Woking Community Hospital (Virgin Care),51.315132,-0.556289,Woking,Surrey,GU22 7HS,Heathside Road,Virgin Care Services Ltd,Hospital,Independent Sector,South East England
2,2,18102,North Somerset Community Hospital,51.437195,-2.847193,Clevedon,Avon,BS21 6BS,North Somerset Community Hospital Old Street,North Somerset Community Partnership Community...,Hospital,NHS Sector,NaN
3,3,18138,Bridgewater Hospital,53.459743,-2.245469,Manchester,Greater Manchester,M15 5AT,120 Princess Road,Bridgewater Hospital (Manchester) Ltd,Hospital,Independent Sector,North West England
4,4,18142,Kneesworth House,52.078121,-0.030604,Royston,Cambridgeshire,SG8 5JP,Old North Road Bassingbourn,Partnerships In Care Ltd,Hospital,Independent Sector,East of England